# enable incompatible python init mode
build --incompatible_default_to_explicit_init_py

# enable implementation_deps on cc_library targets
build --experimental_cc_implementation_deps

# set c++14 for all builds
build --cxxopt="-std=c++17"
build --host_cxxopt="-std=c++17"

# try to import a user-specific bazelrc (gitignored)
try-import %workspace%/user.bazelrc
